
 header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

.imageContainer{
  padding-left:250px;
}

.imageContainer1{
  padding-left:100px;
}

.sliderContainer{
  padding-left:100px;

}