<carousel>
  <slide>
    <img src="assets/images/Canvas/sketch1.png" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
    </div>
  </slide>
  <slide>
    <img src="assets/images/Canvas/sketch2.png" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
     
    </div>
  </slide>
  <slide>
    <img src="assets/images/Canvas/sketch3.png" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">

    </div>
  </slide>
  <!-- <slide>
      <img src="assets/images/Canvas/sketch4.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </slide>
    <slide>
        <img class="img-fluid" src="assets/images/Canvas/sketch5.jpg" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">

        </div>
      </slide> -->
</carousel>