<!DOCTYPE html>
<html lang="en">
<head>
	  <meta charset="utf-8">

	<title> Jason Almaraz | User Experience Designer </title>
    <!-- Boostrap CSS from a CDN -->
    
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


     <!--Google Fonts -->
     <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
  <script src="angular-youtube-embed.js"></script>
</head>

<body> 


              

    <section class="resume-section p-5 p-lg-10 justify-content-center" id="introduction">
      <div class="w-100">          
        <div class="resume-item flex-column flex-md-row justify-content-between mb-10">
          <div class="resume-content">
            <h2 class="mb-0"> 
  
              Access to the Arc: How hand scanners are used for entry </h2>
            
            <app-usecaseppt></app-usecaseppt>
            



          </div>
        </div>
      </div>
    </section>
      
    <div class='embed-responsive' style='padding-bottom:150%'>
      <iframe src="https://drive.google.com/file/d/1j-A50zkFgFrUM_r_IWCUJfqREk86-sHB/preview" width="640" height="480"></iframe>
    </div>


 
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/resume.min.js"></script>

 




</body>


</html>