<carousel>
  <slide>
    <img src="assets/images/Research/1.png" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
    </div>
  </slide>
  <slide>
    <img src="assets/images/Research/2.png" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
     
    </div>
  </slide>
  <slide>
    <img src="assets/images/Research/3.png" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">

    </div>
  </slide>
  <slide>
      <img src="assets/images/Research/4.png" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </slide>
    <slide>
        <img src="assets/images/Research/5.png" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">

        </div>
      </slide>

      <slide>
          <img src="assets/images/Research/6.png" alt="third slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">

          </div>
        </slide>

    <slide>
        <img src="assets/images/Research/7.png" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">

        </div>
      </slide>

    <slide>
        <img src="assets/images/Research/8.png" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">

        </div>
      </slide>

    <slide>
        <img src="assets/images/Research/9.png" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">

        </div>
      </slide>

    <slide>
        <img src="assets/images/Research/10.png" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">

        </div>
      </slide>

      <slide>
          <img src="assets/images/Research/11.png" alt="third slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">

          </div>
        </slide>

        <slide>
          <img src="https://static1.squarespace.com/static/5c9acc54f4e53176d6f6ca73/5c9c0a0fa4222f973ee8c7c8/5c9c0a2c0d92972e1bb7a695/1553730157522/11.png?format=1500w" alt="third slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">

          </div>
        </slide>




</carousel>