<!DOCTYPE html>
<html lang="en">
<head>
	  <meta charset="utf-8">

	<title> Jason Almaraz | About Me </title>
	<!-- Boostrap CSS from a CDN -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


     <!--Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">

</head>
<body  style="background-color:#ECECEC">

     <div class="container">


         <div class="row">

             <div class="col-md-7 col-sm-8 col-xs-8 aboutText">
                    <br>
                    <p> Hey everyone! I'm Jason and I am an aspiring UX designer based in Orange County. I am currently a third year informatics major studying at UCI looking to specialize in human computer interaction and minor in management. I am truely facinated in seeking and providing the applications to fit the needs of individuals in a useful and proactive manner. 
                    <br><br>
					When I am not studying or working at Alien Descent Virtual Reality, I like to keep up with basketball (Go Lakers!), the latest street fashion and discover new music to update my various playlists.
                    <br>
                    </p>
          		</div>
            

          <div class="col-md-4 col-sm-4 col-xs-4">
            <br>
            <br>
                    <img class="img-responsive photo" src="https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-1/p320x320/22365318_1632245440184164_8930056739398523403_n.jpg?_nc_cat=106&_nc_ht=scontent-lax3-2.xx&oh=b6ad914e3f3306f62f188999c0f10d8b&oe=5D03C704" Alt="Jason Almaraz" > 

          </div>



      </div>




      </div>

<br><br><br>
	<footer class="footer">
	      <div class="containerfooter">
	        <span class="text-muted"> 
	        	Feel free to contact me at  <em> jason.almaraz808@gmail.com </em>   </span>
        </div>
        <br>
        <br>
	    </footer>









	<!-- JavaScript Enabler for Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>